<body>
<form>
  <p><b>interpolation</b></p>
  <h1 style="background-color: darkorchid;">{{ Title }}</h1>
  <style>
 *{
   text-align: center;
 }
 #username,
 #password {
   margin: 5px;
   padding: 2px;
   text-align: center;
 }
  </style>
  <p><b>Two-way-DataBinding & Event Binding</b></p>
  <div class="input">
    <label>Username</label>
    <input type="text" style="margin-left: 10px;" name="username" [(ngModel)]="username">
  </div>
  <br>
  <div class="input">
    <label>Password</label>
    <input type="password" style="margin-left: 10px;" name="password" [(ngModel)]="password">
  </div>
  <br>
</form>
    <button type="submit" style="margin-left: 80px;"  (click)="LoginUser()">Login</button>
    <hr>
    <p><b>Property Binding</b></p>
    <img [src]="imageUrl"/>
    <button [disabled]="btnStatus">Click</button>
  </body>
